

    <app-card class="report-card" cardType="Report">

        <div cardBody>
            <div class="flex flex-row justify-between items-center">

                <div class="text-indigo-700 {{icon}}"></div>

                <div class="px-2">
                    <h1 class="h5 num-4"></h1>
                    <p> {{description}} </p>
                </div>

                <app-badge>
                    {{objectCount}}
                </app-badge>
            </div>
        </div>
    </app-card>
